In [3]:

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd


from geopy.geocoders import Nominatim
from geopy.geocoders import options

In [ ]:
# загрузка данных
data_sold_flats = pd.read_csv('sold_flats_2020-09-30.csv', sep=",")
display(data_sold_flats.info())

In [ ]:
# поиск дубликатов (столбец ID всегда уникален, его необходимо удалить)
duplicates = data_sold_flats.copy()
duplicates = duplicates.drop('id', axis=1)
duplicates_df = duplicates[duplicates.duplicated(subset=duplicates.columns, keep=False)]
display(duplicates_df)

In [ ]:
# Определяем расположение объектов недвижимости по координатам используя https://geopy.readthedocs.io/en/stable/index.html
# При наличии координат находим город, регион, страну иначе возвращаем None

data_sold_flats = pd.read_csv('sold_flats_2020-09-31.csv', sep=",")
options.default_user_agent = "find_city"


def find_location(geolocator, lat, lon):
    try:
        location = geolocator.reverse(f"{lat}, {lon}")
        address = location.raw['address']
        city = address.get('city', np.nan)
        region = address.get('state', np.nan)
        country = address.get('country', np.nan)
    except Exception:
        city = np.nan
        region = np.nan
        country = np.nan

    display(city, region, country)
    return city, region,country



geolocator = Nominatim(user_agent='find_city')



data_sold_flats[['city', 'region', 'country']] = data_sold_flats.apply(lambda row: pd.Series(find_location(geolocator, row['latitude'], row['longitude'])), axis=1)

data_sold_flats.to_excel('data_sold_flats_location.xlsx', index=False)

In [ ]:
#применяется при загрузке файла c локациями
data_sold_flats_location = pd.read_excel('data_sold_flats_location.xls')
data_sold_flats_location.to_excel('data_sold_flats_location.xlsx', index=False)

In [33]:
data_sold_flats_location = pd.read_excel('data_sold_flats_location.xlsx')
display(data_sold_flats_location.head(100))

,id,status,city_id,district_id,street_id,price,date_sold,sold_price,metro_station_id,flat_on_floor,...,wall_id,balcon,loggia,ceiling_height,closed_yard,longitude,latitude,city,region,country
0,86668,sold,23,12440,353,4980.0,2014-05-16,4880.0,0.0,0,...,11.0,yes_balcon,0,0.00,NaN,65.552498,57.143242,Тюмень,Тюменская область,Россия
1,87951,sold,23,5279,263,2550.0,2014-02-17,2550.0,0.0,0,...,12.0,yes_balcon,0,0.00,NaN,65.567250,57.110282,Тюмень,Тюменская область,Россия
2,90703,sold,23,588,339,2200.0,2014-07-04,2200.0,0.0,0,...,12.0,yes_balcon,0,0.00,NaN,65.593887,57.147141,Тюмень,Тюменская область,Россия
3,92948,sold,23,139,546,650.0,2014-09-03,650.0,0.0,0,...,11.0,no_balcon,0,2.50,NaN,65.518670,57.144386,Тюмень,Тюменская область,Россия
4,102940,sold,23,5279,263,3300.0,2017-11-09,3300.0,0.0,0,...,12.0,loggia,0,2.53,NaN,65.568459,57.113392,Тюмень,Тюменская область,Россия
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,195377,sold,23,799,298,2860.0,2014-09-16,2855.0,0.0,0,...,12.0,loggia,0,2.70,NaN,65.563919,57.177761,Тюмень,Тюменская область,Россия
96,195579,sold,27,979,2413,1500.0,2014-05-08,1500.0,0.0,0,...,11.0,yes_balcon,0,0.00,NaN,69.513512,56.109779,NaN,Тюменская область,Россия
97,195642,sold,23,146,376,15000.0,2015-06-26,12800.0,0.0,0,...,11.0,yes_balcon,0,0.00,NaN,65.568237,57.121059,Тюмень,Тюменская область,Россия
98,196011,sold,23,129,284,1850.0,2014-05-21,1825.0,0.0,0,...,11.0,yes_balcon,0,2.55,NaN,65.426127,57.111151,NaN,Тюменская область,Россия
99,196070,sold,23,23161,1506,2250.0,2014-09-05,2250.0,0.0,0,...,12.0,yes_balcon,0,0.00,NaN,65.653319,57.149059,Тюмень,Тюменская область,Россия

In [35]:
display(data_sold_flats_location.loc[data_sold_flats_location['city_id'] == 1105])
display(data_sold_flats_location.loc[data_sold_flats_location['city_id'] == 1066])

,id,status,city_id,district_id,street_id,price,date_sold,sold_price,metro_station_id,flat_on_floor,...,wall_id,balcon,loggia,ceiling_height,closed_yard,longitude,latitude,city,region,country
3980,357240,sold,1105,18600,18624,5050.0,2014-02-21,5050.0,0.0,0,...,11.0,more_loggia,0,0.00,NaN,46.127071,51.477311,Энгельс,Саратовская область,Россия
7029,410949,sold,1105,18547,32967,3300.0,2015-03-10,3250.0,0.0,0,...,12.0,more_loggia,0,2.70,NaN,46.092126,51.499446,Энгельс,Саратовская область,Россия
24222,793191,sold,1105,18547,32967,1449.0,2015-07-24,1450.0,0.0,0,...,12.0,loggia,0,0.00,NaN,46.092126,51.499446,Энгельс,Саратовская область,NaN
26306,837951,sold,1105,18616,41160,2500.0,2015-09-29,2450.0,0.0,0,...,15.0,loggia,0,0.00,NaN,46.181131,51.507732,Энгельс,Саратовская область,NaN
27330,861631,sold,1105,18547,32967,1450.0,2016-01-13,1450.0,0.0,0,...,12.0,loggia,0,0.00,no,46.092126,51.499446,Энгельс,Саратовская область,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70439,1837225,sold,1105,18620,50418,1300.0,2017-12-05,1200.0,-1.0,0,...,11.0,yes_balcon,0,2.50,NaN,46.036045,51.396541,NaN,Саратовская область,NaN
70829,1856065,sold,1105,18600,37331,1450.0,2017-11-25,1450.0,-1.0,0,...,11.0,yes_balcon,0,2.50,NaN,46.119839,51.474573,Энгельс,Саратовская область,Россия
70896,1858763,sold,1105,18595,48122,1820.0,2017-12-09,1750.0,0.0,0,...,12.0,balcon_loggia,0,2.60,NaN,46.158907,51.484984,Энгельс,Саратовская область,Россия
71256,1877527,sold,1105,18603,83657,1570.0,2017-12-09,1570.0,-1.0,0,...,11.0,yes_balcon,0,2.50,NaN,46.151442,51.473603,Энгельс,Саратовская область,Россия
71739,1932865,sold,1105,18599,49433,1300.0,2017-12-28,1300.0,-1.0,0,...,12.0,loggia,0,2.65,NaN,46.144013,51.466208,Энгельс,Саратовская область,Россия

,id,status,city_id,district_id,street_id,price,date_sold,sold_price,metro_station_id,flat_on_floor,...,wall_id,balcon,loggia,ceiling_height,closed_yard,longitude,latitude,city,region,country
42728,1208852,sold,1066,17003,67789,110000.0,2016-09-06,10500.0,0.0,0,...,12.0,loggia,0,2.60,NaN,27.513493,53.900326,Мінск,NaN,NaN
43051,1215175,sold,1066,17004,68072,48000.0,2017-07-21,48000.0,-1.0,0,...,11.0,more_loggia,0,2.50,NaN,NaN,NaN,NaN,NaN,NaN
43129,1216529,sold,1066,17003,67770,44900.0,2016-09-06,44900.0,0.0,0,...,12.0,loggia,0,2.50,NaN,NaN,NaN,NaN,NaN,NaN
43177,1217540,sold,1066,16997,68339,58000.0,2017-07-31,58000.0,0.0,0,...,12.0,yes_balcon,0,2.50,NaN,27.508148,53.929913,Мінск,NaN,NaN
43492,1223796,sold,1066,16996,67987,53900.0,2016-12-19,53900.0,0.0,0,...,11.0,loggia,0,2.50,NaN,27.632780,53.954112,Мінск,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71672,1917258,sold,1066,17000,67141,36500.0,2017-12-28,36500.0,0.0,0,...,12.0,yes_balcon,0,2.52,NaN,27.641359,53.837859,Мінск,NaN,Беларусь
71677,1918130,sold,1066,17000,67202,34000.0,2017-12-30,34000.0,0.0,0,...,284.0,no_balcon,0,2.50,NaN,27.615559,53.873606,Мінск,NaN,Беларусь
71682,1919493,sold,1066,17001,67281,65000.0,2017-12-30,65000.0,0.0,0,...,84.0,yes_balcon,0,2.73,NaN,NaN,NaN,NaN,NaN,NaN
71705,1923566,sold,1066,17004,68097,65000.0,2017-12-18,65000.0,0.0,0,...,81.0,yes_balcon,0,2.50,NaN,NaN,NaN,NaN,NaN,NaN
71725,1928720,sold,1066,17000,67152,40000.0,2017-12-28,40000.0,0.0,0,...,369.0,yes_balcon,0,2.50,NaN,27.687011,53.882630,Мінск,NaN,Беларусь

In [6]:
# поиск дубликатов, создание словаря, удаление из датасета
duplicates_id = []
duplicates = data_sold_flats_location.copy()

for i in (duplicates[duplicates[['city_id', 'district_id', 'street_id', 'price', 'date_sold', 'sold_price', 'longitude', 'latitude', 'floor_num', 'floors_cnt', 'rooms_cnt', 'building_year', 'area_total', 'area_live', 'series_id', 'wall_id', 'ceiling_height', 'bathroom', 'bedrooms_cnt']].duplicated()]['id']):
  duplicates_id.append(i)


print(duplicates_id)

data_sold_flats_location = data_sold_flats_location[~data_sold_flats_location['id'].isin(duplicates_id)]

[1429211, 1429219, 1916319]

In [7]:
# Список стран

unique_country = data_sold_flats_location['country'].unique().tolist()
display(f"Список стран, где продана недвижимость: {unique_country}")


# удаляем ненужные значения из списка стран, для фильтрации лишних городов
countries = []
for i in unique_country:
  if str(i) != 'nan' and str(i) != 'Россия':
    countries.append(i)

display(countries)


# Выбираем только строки, где не Россия и не nan
mask = data_sold_flats_location['country'].isin(countries)

unique_city_id_foreign_country = data_sold_flats_location[mask].sort_values(by='city_id', ascending=False)['city_id'].unique().tolist()

display(f"Список 'city_id' иностранных городов: {unique_city_id_foreign_country}")

"Список стран, где продана недвижимость: ['Россия', nan, 'ایران', 'Қазақстан', 'Беларусь', 'Latvija', 'Україна']"

['ایران', 'Қазақстан', 'Беларусь', 'Latvija', 'Україна']

"Список 'city_id' иностранных городов: [1066, 577, 373, 236, 201, 184, 180, 155]"

In [ ]:

data_sold_flats_foreign_country = data_sold_flats_location.copy()

# Меняем NaN на 'NaN' для nunique()
data_sold_flats_foreign_country[['city_id', 'city', 'region', 'country']] = data_sold_flats_foreign_country[['city_id', 'city', 'region', 'country']].fillna(value="NaN")

# Фильтруем DataFrame по списку уникальных идентификаторов городов
filtered_df = data_sold_flats_foreign_country[data_sold_flats_foreign_country['city_id'].isin(unique_city_id_foreign_country)]

# Группируем DataFrame по столбцам 'city_id', 'city', 'region', 'country' и считаем количество уникальных значений в каждой группе
result = filtered_df.groupby(['city_id', 'city', 'region', 'country']).nunique()


result = result.reset_index()[['city_id', 'city', 'region', 'country']]
display(result)


unique_city_id_foreign_country_update = []

for i in result['city_id']:
  if i not in unique_city_id_foreign_country_update:
    unique_city_id_foreign_country_update.append(i)

print(unique_city_id_foreign_country_update)

In [55]:
# Удаляем иностранные города (1066 - пока не удаляем!)
unique_city_id_foreign_country_update = [577,  373,  236,  201]
print(unique_city_id_foreign_country_update)

data_sold_flats_foreign_country = data_sold_flats_foreign_country[~data_sold_flats_foreign_country['city_id'].isin(unique_city_id_foreign_country_update)]

[577, 373, 236, 201]

In [58]:
# город Энгельс имеет city_id = 1105. заменяем все г. Энгельс на city_id = 1105

data_sold_flats_foreign_country['city_id'] = np.where(data_sold_flats_foreign_country['city'] == 'Энгельс', 1105, data_sold_flats_foreign_country['city_id'])

# после чего удаляем оставшиеся иностраные города с city_id = 1066
unique_city_id_foreign_country_update = [1066]
data_sold_flats_foreign_country = data_sold_flats_foreign_country[~data_sold_flats_foreign_country['city_id'].isin(unique_city_id_foreign_country_update)]

In [ ]:
# Определяем название городам и регионам у которых значение NaN

pd.set_option('display.max_rows', None)

# Меняем NaN на 'NaN' для nunique()
data_sold_flats_city_region = data_sold_flats_foreign_country.copy()
data_sold_flats_city_region["city"].fillna(value="NaN", inplace=True)
data_sold_flats_city_region["region"].fillna(value="NaN", inplace=True)

# Группируем и считаем количество уникальных записей по каждому city_id
grouped = data_sold_flats_city_region.groupby(['city_id', 'city', 'region']).nunique()
unique_rows = grouped[grouped.columns[:1]]
unique_rows.columns = ['count']

# Сортируем по убыванию количества уникальных записей
unique_rows = unique_rows.sort_values(by=['city_id', 'count'], ascending=[True, False])

# Определяем наиболее частый регион и город для каждого city_id
most_common_region = {}
most_common_city = {}

for city_id, group in unique_rows.reset_index().groupby('city_id'):
    region_values = group['region'].values
    city_values = group['city'].values

    for value in region_values:
        if value != 'NaN':
            most_common_region[city_id] = value
            break

    if city_id not in most_common_region:
        most_common_region[city_id] = 'NaN'

    for value in city_values:
        if value != 'NaN':
            most_common_city[city_id] = value
            break

    if city_id not in most_common_city:
        most_common_city[city_id] = 'NaN'


# Добавляем новые столбцы с самым частым регионом и городом для каждого city_id
unique_rows['most_common_city'] = unique_rows.index.get_level_values('city_id').map(most_common_city)
unique_rows['most_common_region'] = unique_rows.index.get_level_values('city_id').map(most_common_region)


display(unique_rows)

pd.reset_option('display.max_rows')

In [ ]:
# Итоговый список названий городов и регион по 'city_id'

pd.set_option('display.max_rows', None)

df_city = pd.DataFrame.from_dict(most_common_city, orient='index', columns=['city'])
df_region = pd.DataFrame.from_dict(most_common_region, orient='index', columns=['region'])

df_city_region = pd.concat([df_city, df_region], axis=1).reset_index().rename(columns={'index': 'city_id'})

grouped = data_sold_flats_city_region.groupby('city_id').size().reset_index(name='count')
df_city_region = df_city_region.merge(grouped, on='city_id', how='left')

display(df_city_region)

pd.reset_option('display.max_rows')

In [64]:
# Обновляем столбцы 'city', 'region', (исключаем NaN)

data_sold_flats_city_region.drop(columns=['city', 'region'], inplace=True)

data_sold_flats_city_region = data_sold_flats_city_region.merge(df_city_region[['city_id', 'city', 'region']], on='city_id', how='left')
data_sold_flats_city_region[['city', 'region']] = data_sold_flats_city_region[['city', 'region']].replace('NaN', None)